.idea
idea
.DS_Store

*.egg-info/
.installed.cfg
*.egg

dist
db.sqlite3

venv

stylesheets/
    style.css
    style.min.css

.scss

javascripts/
    plugin.js
    plugin.min.js

__pycache__/
*/__pycache__/
*.py[cod]
.pyc
*.pyc

!*media/.gitkeep
media/*

log/debug.log

build
doc
home.rst
make.bat
Makefile
