{% extends 'base.html' %}
    

{% block content %}
	  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="index.html">IslaGrande</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	        	<li class="nav-item"><a href="index.html" class="nav-link">Home</a></li>
	        	<li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
	        	<li class="nav-item"><a href="services.html" class="nav-link">Amenities</a></li>
	        	<li class="nav-item"><a href="blog.html" class="nav-link">Blog</a></li>
	        	<li class="nav-item active"><a href="room.html" class="nav-link">Rooms</a></li>
	        	<li class="nav-item"><a href="restaurant.html" class="nav-link">Restaurant</a></li>
	          <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>
    <!-- END nav -->

    <section class="home-slider js-fullheight owl-carousel">
      <div class="slider-item js-fullheight" style="background-image:url(images/bg_3.jpg);">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row slider-text justify-content-center align-items-center">

            <div class="col-md-7 col-sm-12 text-center ftco-animate">
            	<h1 class="mb-3 mt-2 bread">Rooms</h1>
	            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Rooms</span></p>
            </div>

          </div>
        </div>
      </div>
    </section>

		<section class="ftco-section ftco-room">
			<div class="container">
        <div class="row">
        	<div class="col-md-4">
        		<div class="room-wrap ftco-animate">
        			<a href="room.html" class="img" style="background-image: url(images/room-1.jpg);"></a>
        			<div class="text pt-4 pl-lg-5">
        				<h2><a href="room.html">Suite Room</a></h2>
        				<p class="rate">
        					<span class="icon-star"></span>
        					<span class="icon-star"></span>
        					<span class="icon-star"></span>
        					<span class="icon-star"></span>
        					<span class="icon-star-half-full"></span>
        				</p>
        				<p class="d-flex price-details align-items-center pt-3">
        					<span>Starting From</span>
        					<span class="price">$100<small>/ night</small></span>
        				</p>
        				<p><a href="#" class="btn-customize">Reserve A Room</a></p>
        			</div>
        		</div>
        	</div>
        	<div class="col-md-4">
        		<div class="room-wrap ftco-animate">
        			<a href="room.html" class="img" style="background-image: url(images/room-2.jpg);"></a>
        			<div class="text pt-4 pl-lg-5">
        				<h2><a href="room.html">Family Room</a></h2>
        				<p class="rate">
        					<span class="icon-star"></span>
        					<span class="icon-star"></span>
        					<span class="icon-star"></span>
        					<span class="icon-star"></span>
        					<span class="icon-star-half-full"></span>
        				</p>
        				<p class="d-flex price-details align-items-center pt-3">
        					<span>Starting From</span>
        					<span class="price">$140<small>/ night</small></span>
        				</p>
        				<p><a href="#" class="btn-customize">Reserve A Room</a></p>
        			</div>
        		</div>
        	</div>
        	<div class="col-md-4">
        		<div class="room-wrap ftco-animate">
        			<a href="room.html" class="img" style="background-image: url(images/room-3.jpg);"></a>
        			<div class="text pt-4 pl-lg-5">
        				<h2><a href="room.html">Deluxe Room</a></h2>
        				<p class="rate">
        					<span class="icon-star"></span>
        					<span class="icon-star"></span>
        					<span class="icon-star"></span>
        					<span class="icon-star"></span>
        					<span class="icon-star-half-full"></span>
        				</p>
        				<p class="d-flex price-details align-items-center pt-3">
        					<span>Starting From</span>
        					<span class="price">$130<small>/ night</small></span>
        				</p>
        				<p><a href="#" class="btn-customize">Reserve A Room</a></p>
        			</div>
        		</div>
        	</div>
        	<div class="col-md-4">
        		<div class="room-wrap ftco-animate">
        			<a href="room.html" class="img" style="background-image: url(images/room-4.jpg);"></a>
        			<div class="text pt-4 pl-lg-5">
        				<h2><a href="room.html">Classic Room</a></h2>
        				<p class="rate">
        					<span class="icon-star"></span>
        					<span class="icon-star"></span>
        					<span class="icon-star"></span>
        					<span class="icon-star"></span>
        					<span class="icon-star-half-full"></span>
        				</p>
        				<p class="d-flex price-details align-items-center pt-3">
        					<span>Starting From</span>
        					<span class="price">$200<small>/ night</small></span>
        				</p>
        				<p><a href="#" class="btn-customize">Reserve A Room</a></p>
        			</div>
        		</div>
        	</div>
        	<div class="col-md-4">
        		<div class="room-wrap ftco-animate">
        			<a href="room.html" class="img" style="background-image: url(images/room-5.jpg);"></a>
        			<div class="text pt-4 pl-lg-5">
        				<h2><a href="room.html">Superior Room</a></h2>
        				<p class="rate">
        					<span class="icon-star"></span>
        					<span class="icon-star"></span>
        					<span class="icon-star"></span>
        					<span class="icon-star"></span>
        					<span class="icon-star-half-full"></span>
        				</p>
        				<p class="d-flex price-details align-items-center pt-3">
        					<span>Starting From</span>
        					<span class="price">$120<small>/ night</small></span>
        				</p>
        				<p><a href="#" class="btn-customize">Reserve A Room</a></p>
        			</div>
        		</div>
        	</div>
        	<div class="col-md-4">
        		<div class="room-wrap ftco-animate">
        			<a href="room.html" class="img" style="background-image: url(images/room-6.jpg);"></a>
        			<div class="text pt-4 pl-lg-5">
        				<h2><a href="room.html">Luxe Room</a></h2>
        				<p class="rate">
        					<span class="icon-star"></span>
        					<span class="icon-star"></span>
        					<span class="icon-star"></span>
        					<span class="icon-star"></span>
        					<span class="icon-star-half-full"></span>
        				</p>
        				<p class="d-flex price-details align-items-center pt-3">
        					<span>Starting From</span>
        					<span class="price">$500<small>/ night</small></span>
        				</p>
        				<p><a href="#" class="btn-customize">Reserve A Room</a></p>
        			</div>
        		</div>
        	</div>
        </div>
			</div>
		</section>
{% endblock content %}