{% extends 'base.html' %}
    

{% block content %}


    <section class="home-slider js-fullheight owl-carousel">
      <div class="slider-item js-fullheight" style="background-image:url(/static/images/bg_3.jpg);">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row slider-text justify-content-center align-items-center">

            <div class="col-md-7 col-sm-12 text-center ftco-animate">
            	<h1 class="mb-3 mt-2 bread">Rooms</h1>
	            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Rooms</span></p>
            </div>

          </div>
        </div>
      </div>
    </section>


		<section class="ftco-section ftco-room">
			<div class="container">
        <div class="row">
			{% for room in room_list %}
				<div class="col-md-4">
					<div class="room-wrap ftco-animate">
						<a href="room.html" class="img" style="background-image: url({{ room.image.url }});"></a>
						
						<div class="text pt-4 pl-lg-5">
							<h2><a href="room.html">{{ room.title }}</a></h2>
							<p class="rate">
								<span class="icon-star"></span>
								<span class="icon-star"></span>
								<span class="icon-star"></span>
								<span class="icon-star"></span>
								<span class="icon-star"></span>
							</p>
							<p class="d-flex price-details align-items-center pt-3">
								<span>Starting From</span>
								<span class="price">${{ room.price }}<small>/ night</small></span>
							</p>
							<p><a href="#" class="btn-customize">Reserve A Room</a></p>
						</div>
					</div>
				</div>
			{% endfor %}
        </div>
			</div>
		</section>
{% endblock content %}