{% extends 'base.html' %}
{% load blog_tag %}

{% block content %}

    <section class="home-slider js-fullheight owl-carousel">
      <div class="slider-item js-fullheight" style="background-image:url(/static/images/bg_3.jpg);">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row slider-text justify-content-center align-items-center">

            <div class="col-md-7 col-sm-12 text-center ftco-animate">
            	<h1 class="mb-3 mt-2 bread">Blog</h1>
	            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Blog</span></p>
            </div>

          </div>
        </div>
      </div>
    </section>

		<section class="ftco-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 ftco-animate">
          	<div class="row">
              {% for post in post_list %}
                <div class="col-md-6 ftco-animate">
                  <div class="blog-entry">
                    <a href="blog-single.html" class="block-20" style="background-image: url({{ post.photo.url }});">
                    </a>
                    <div class="text d-flex py-4">
                      <div class="meta mb-3">
                        <div><a href="#">{{ post.create_at }}</a></div>
                        <div><a href="#">{{ post.user }}</a></div>
                        <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                      </div>
                      <div class="desc pl-3">
                        <h3 class="heading"><a href="#">{{ post.title }}</a></h3>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
		        </div>
		        <div class="row mt-5">
		          <div class="col text-center">
		            <div class="block-27">
		              <ul>
                      {% if page_obj.has_previous %}
                      <li><a href="?q={{ q }}&page={{ page_obj.has_previous_page }}">&lt;</a></li>
                      {% endif %}	
                    
                    {% for page in page_obj.paginator.page_range %}
                      {% if page_obj.number == page %}
                        <li class="active"><a href="?q={{ q }}&page={{ page }}">{{ page }}</a></li>
                      {% elif page > page_obj.number|add:-2 and page < page_obj.number|add:2 %}
                        <li><a href="?q={{ q }}&page={{ page }}">{{ page }}</a></li>
                      {% endif %}
                    
                    {% endfor %}
                      {% if page_obj.has_next %}
                        <li><a href="?q={{ q }}&page={{ page_obj.next_page_number }}">&gt;</a></li>
                      {% endif %}	
		              </ul>
		            </div>
		          </div>
		        </div>
          </div> 
          
          <!-- .col-md-8 -->
          <div class="col-lg-4 sidebar ftco-animate">
            <div class="sidebar-box">
              <form action="{% url 'search' %}" method='get' class="search-form">
                <div class="form-group">
                  <button type='submit' class="icon icon-search" style="border: 1px solid #FFFFFF;"></button>
                  <input type="text" name='q' class="form-control" placeholder="Type a keyword and hit enter">
                </div>
              </form>
            </div>

            <div class="sidebar-box ftco-animate">
            	<h3>Categories</h3>
              <ul class="categories">
                {% get_categories as categories %}
                  {% for category in categories %}
                    <li><a href="{% url 'get_category' category.slug %}">{{ category.name }} <span>{{ category.category_count  }}</span></a></li>
                  {% endfor %}
              </ul>
            </div>

{% get_popular_articles_post count=4 %}

            <div class="sidebar-box ftco-animate">
              <h3>Tag Cloud</h3>
              <ul class="tagcloud">
                {% get_tags as tags %}
                {% for tag in tags %}
                  <a href="{% url 'get_tag' tag.slug %}" class="tag-cloud-link">{{ tag.name }}</a>
                {% endfor %}
              </ul>
            </div>

						<div class="sidebar-box subs-wrap">
							<h3>Subcribe to our Newsletter</h3>
							<p>Far far away, behind the word mountains, far from the countries Vokalia</p>
              <form action="#" class="subscribe-form">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Email Address">
                  <input type="submit" value="Subscribe" class="mt-2 btn btn-white submit">
                </div>
              </form>
            </div>


        </div>
      </div>
    </section> <!-- .section -->

{% endblock content %}