{% extends 'base.html' %}
{% load blog_tag %}

{% block content %}

    <section class="home-slider js-fullheight owl-carousel">
      <div class="slider-item js-fullheight" style="background-image:url(/static/images/bg_3.jpg);">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row slider-text justify-content-center align-items-center">

            <div class="col-md-7 col-sm-12 text-center ftco-animate">
            	<h1 class="mb-3 mt-2 bread">Blog</h1>
	            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Blog</span></p>
            </div>

          </div>
        </div>
      </div>
    </section>

		<section class="ftco-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 ftco-animate">
          	<div class="row">
              {% for post in post_list %}
                <div class="col-md-6 ftco-animate">
                  <div class="blog-entry">
                    <a href="blog-single.html" class="block-20" style="background-image: url({{ post.photo.url }});">
                    </a>
                    <div class="text d-flex py-4">
                      <div class="meta mb-3">
                        <div><a href="#">{{ post.create_at }}</a></div>
                        <div><a href="#">{{ post.user }}</a></div>
                        <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                      </div>
                      <div class="desc pl-3">
                        <h3 class="heading"><a href="#">{{ post.title }}</a></h3>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
		        </div>
		        <div class="row mt-5">
		          <div class="col text-center">
		            <div class="block-27">
		              <ul>
		                <li><a href="#">&lt;</a></li>
		                <li class="active"><span>1</span></li>
		                <li><a href="#">2</a></li>
		                <li><a href="#">3</a></li>
		                <li><a href="#">4</a></li>
		                <li><a href="#">5</a></li>
		                <li><a href="#">&gt;</a></li>
		              </ul>
		            </div>
		          </div>
		        </div>
          </div> 
          
          <!-- .col-md-8 -->
          <div class="col-lg-4 sidebar ftco-animate">
            <div class="sidebar-box">
              <form action="#" class="search-form">
                <div class="form-group">
                  <span class="icon icon-search"></span>
                  <input type="text" class="form-control" placeholder="Type a keyword and hit enter">
                </div>
              </form>
            </div>
            <div class="sidebar-box ftco-animate">
            	<h3>Categories</h3>
              <ul class="categories">
                {% get_categories as categories %}
                  {% for category in categories %}
                    <li><a href="#">{{ category.name }} <span>{{ category.category_count  }}</span></a></li>
                  {% endfor %}
              </ul>
            </div>

            <div class="sidebar-box ftco-animate">
              <h3>Popular Articles</h3>
             
              {% for post in post_list %}
                {% if forloop.counter <= 5 and forloop.counter > 1 %}
                  <div class="block-21 mb-4 d-flex">
                    <a class="blog-img mr-4" style="background-image: url({{ post.photo.url }});"></a>
                    <div class="text">
                      <h3 class="heading"><a href="#">{{ post.title }}</a></h3>
                      <div class="meta">
                        <div><a href="#"><span class="icon-calendar"></span> {{ post.create_at }}</a></div>
                        <div><a href="#"><span class="icon-person"></span> Dave Lewis</a></div>
                        <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                      </div>
                    </div>
                  </div>
                {% endif %} 
{% endfor %}
            </div>

            <div class="sidebar-box ftco-animate">
              <h3>Tag Cloud</h3>
              <ul class="tagcloud">
                {% get_tags as tags %}
                {% for tag in tags %}
                  <a href="#" class="tag-cloud-link">{{ tag.name }}</a>
                {% endfor %}
              </ul>
            </div>

						<div class="sidebar-box subs-wrap">
							<h3>Subcribe to our Newsletter</h3>
							<p>Far far away, behind the word mountains, far from the countries Vokalia</p>
              <form action="#" class="subscribe-form">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Email Address">
                  <input type="submit" value="Subscribe" class="mt-2 btn btn-white submit">
                </div>
              </form>
            </div>

            <div class="sidebar-box ftco-animate">
            	<h3>Archives</h3>
              <ul class="categories">
                <li><a href="#">September 2018 <span>(6)</span></a></li>
                <li><a href="#">August 2018 <span>(8)</span></a></li>
                <li><a href="#">July 2018 <span>(2)</span></a></li>
                <li><a href="#">June 2018 <span>(7)</span></a></li>
                <li><a href="#">May 2018 <span>(5)</span></a></li>
                <li><a href="#">April 2018 <span>(3)</span></a></li>
              </ul>
            </div>


            <div class="sidebar-box ftco-animate">
              <h3>Paragraph</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!</p>
            </div>
          </div><!-- END COL -->

        </div>
      </div>
    </section> <!-- .section -->

{% endblock content %}