{% extends 'base.html' %}


{% block content %}
    <section class="home-slider js-fullheight owl-carousel">
      <div class="slider-item js-fullheight" style="background-image:url(/static/images/bg_3.jpg);">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row slider-text justify-content-center align-items-center">

            <div class="col-md-7 col-sm-12 text-center ftco-animate">
            	<h1 class="mb-3 mt-2 bread">Amenities</h1>
	            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Services</span></p>
            </div>

          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-12 amenities d-md-flex">
    				<div class="img" style="background-image: url(images/amenities-1.jpg);"></div>
    				<div class="text p-5">
    					<p class="price">Free</p>
    					<h2>Airport Shuttle &amp; Parking Lot</h2>
    					<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane.</p>
    				</div>
    			</div>
    			<div class="col-md-12 amenities d-md-flex">
    				<div class="img order-last" style="background-image: url(images/room-2.jpg);"></div>
    				<div class="text p-5">
    					<p class="price">Free</p>
    					<h2>Room Service</h2>
    					<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane.</p>
    				</div>
    			</div>
    			<div class="col-md-12 amenities d-md-flex">
    				<div class="img" style="background-image: url(images/amenities-2.jpg);"></div>
    				<div class="text p-5">
    					<p class="price">Free</p>
    					<h2>SPA &amp; Beauty Centre</h2>
    					<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane.</p>
    				</div>
    			</div>
    			<div class="col-md-12 amenities d-md-flex">
    				<div class="img order-last" style="background-image: url(images/amenities-3.jpg);"></div>
    				<div class="text p-5">
    					<p class="price">$300 <small>/ room</small></p>
    					<h2>Conference Hall for Business Events</h2>
    					<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane.</p>
    				</div>
    			</div>
    		</div>
    	</div>
    </section>
{% endblock content %}